*{
  box-sizing: border-box;
}

body{
  background-color: hsl(0, 3%, 12%);
  color: white;
  margin: 0;
}

header{
  box-shadow: 4px 4px 3px 0px rgba(135, 143, 139, 0.1);
  height: 140px;
  padding: 20px;
}

#top-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

#personal-best{
  display: flex;
  gap: 6px;
}

#game-info{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#header-bottom-left{
  display: flex;
  gap: 50px;
}

#header-bottom-right{
  display: flex;
}

button{
  height: fit-content;
  width: fit-content;
  padding: 7px;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 7px;
  margin-left: 5px;
  background-color: hsl(0, 3%, 12%);
  color: white;
  text-align: center;
}

button:hover{
  height: fit-content;
  width: fit-content;
  padding: 7px;
  border: 2px solid rgb(97, 150, 211);
  border-radius: 5px;
  margin-top: 7px;
  margin-left: 5px;
  background-color: hsl(0, 3%, 12%);
  color: rgb(97, 150, 211);
  text-align: center;

}
#mode{
  margin-left: 25px;
}
