body{
  background-color: hsl(0, 3%, 12%);
  color: white;
}

#top-header{
  display: flex;
  justify-content: space-between;
}

#personal-best{
  display: flex;
  gap: 6px;
}

#game-info{
  display: flex;
  justify-content: space-between;
}

#header-bottom-left{
  display: flex;
  gap: 50px;
}

#header-bottom-right{
  display: flex;
}

button{
  height: fit-content;
  width: fit-content;
  padding: 7px;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 7px;
  margin-left: 5px;
  background-color: hsl(0, 3%, 12%);
  color: white;
  text-align: center;
}

button:hover{
  height: fit-content;
  width: fit-content;
  padding: 7px;
  border: 2px solid rgb(97, 150, 211);
  border-radius: 5px;
  margin-top: 7px;
  margin-left: 5px;
  background-color: hsl(0, 3%, 12%);
  color: rgb(97, 150, 211);
  text-align: center;

}
#mode{
  margin-left: 25px;
}
