*{
  box-sizing: border-box;
  font-family: Open Sans;
}

body{
  background-color: hsl(0, 3%, 12%);
  color: white;
  margin: 0;
}

header{
  box-shadow: 4px 4px 3px 0px rgba(135, 143, 139, 0.1);
  height: 140px;
  padding: 20px;
}

#top-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

#personal-best{
  display: flex;
  gap: 6px;
}

#game-info{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#header-bottom-left{
  display: flex;
  gap: 50px;
}

#header-bottom-right{
  display: flex;
}

button{
  height: fit-content;
  width: fit-content;
  padding: 7px;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 7px;
  margin-left: 5px;
  background-color: hsl(0, 3%, 12%);
  color: white;
  text-align: center;
}

#header-btn:hover{
  height: fit-content;
  width: fit-content;
  padding: 7px;
  border: 2px solid rgb(97, 150, 211);
  border-radius: 5px;
  margin-top: 7px;
  margin-left: 5px;
  background-color: hsl(0, 3%, 12%);
  color: rgb(97, 150, 211);
  text-align: center;
  cursor: pointer;
}

#mode{
  margin-left: 25px;
}

.first {
  font-size: 2em;
  color: white;
}

.first.correct {
  color: green;
}

.first.wrong {
  color: red;
  text-decoration: underline;
}

.text span {
  display: inline;
  margin: 0;
  padding: 0;
  letter-spacing: normal;
}

.text{
  padding: 20px;
  margin-left: 10px;
  font-size: 1.25em;
}


.start-btn { 
  padding: 16px 32px; 
  font-size: 20px; 
  background-color: #007bff; 
  color: white; 
  border: none; 
  border-radius: 8px; 
  cursor: pointer;
}

#button{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-top: 250px;
}

#error{
  text-align: center;
}

#header-btn.active{
  height: fit-content;
  width: fit-content;
  padding: 7px;
  border: 2px solid rgb(97, 150, 211);
  border-radius: 5px;
  margin-top: 7px;
  margin-left: 5px;
  background-color: hsl(0, 3%, 12%);
  color: rgb(97, 150, 211);
  text-align: center;
}

.accuracy{
  margin-top: 14px;
  font-size: 1.3rem;
  font-weight: bolder;
}

.accuracy.green{
  margin-top: 14px;
  font-size: 1.3rem;
  font-weight: bolder;
  color: green;
}

.accuracy.red{
  margin-top: 14px;
  font-size: 1.3rem;
  font-weight: bolder;
  color: red;
}

.accuracy.yellow{
  margin-top: 14px;
  font-size: 1.3rem;
  font-weight: bolder;
  color: yellow;
}
